@page "/countries"

<PageTitle>Tari</PageTitle>

<style>
    .index-page {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .index-page__button {
        outline: none;
        border: none;
        background-color: #5c636a;
        color: white;
        padding: 10px;
        text-align: center;
    }
    
    .index-page__button:hover {
        background-color: #4f5050;
    }
    
    .index-page__header {
        display: flex;
        justify-content: space-between;
    }
    
    .index-page__content {
    
    }
    
    .table td {
        vertical-align: baseline;
    }

</style>

<div class="index-page">
    
    <div class="index-page__content">
        @if (CountryList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Denumire</th>
                    <th>Continent</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var country in CountryList)
                {
                    <tr>
                        <td>@country.Description</td>
                        <td>@country.Continent.ToString()</td>
                        <td>
                            <button class="index-page__button" type="button" @onclick="async () => await DeleteCountry(country.Id)">Delete</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }  
    </div>
</div>